# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ENI\TP_ENCHERES_TROC_G1_GIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
